body,
html {
  background: #191919;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.sidebar {
  width: 24.9999vw;
  height: 99.9999vh;
}
.main_panel {
  width: 74.9999vw;
  height: 99.9999vh;
}


.main-second{
  display: flex;
}

.ms-left{
  width: 49.9999%;
  align-self: center;
  text-align: center;
}

.ms-right{
  @extend .ms-left;
}

.sidebar > div {
  margin: 10px;
  width: 96%;
  height: 97%;
  background: #000000;
  border-radius: 10px 10px 10px 10px;
}

.main_panel > div {
  margin: 10px;
  width: 98%;
  height: 97%;
  background: #191919;
  border-radius: 10px 10px 10px 10px;
}




.sidebar_canvas > div {
  margin: 2px;
  height: 20%;
  width: 99%;
  background: #000000;
  border-radius: 5px 5px 5px 5px;
}

.sidebar_first > div {
  background: #000000;
  margin: 2px 0px 2px 0px;
  padding: 1px;
  height: 45%;
  width: 98%;
  border-radius: 5px 5px 5px 5px;
  border-bottom: 0.2px solid #3c40c6;
  border-top: 0.2px solid #3c40c6;
}

.main-nav {
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
}

.second-nav {
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
}

li {
  padding: 17px;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
}


a {
  color: #000000;
  text-decoration: none;
}

.webview {
  width: 100%;
  height: 100%;
}

webview{
  width: 100%;
  height: 100%;
  filter: grayscale(100%) blur(0.5rem);
}

webview:hover{
  filter: grayscale(0%) blur(0);
}

.navigation__video:hover ~ webview {
  filter: grayscale(0%) drop-shadow(1.5rem 1.5rem 2rem rgba(9, 136, 4, 0.712))
    hue-rotate(40deg);
}

.navigation__audio:hover ~ .page{
  filter: grayscale(0%);
}



i {
  color: #4cdbba;
  font-size: 1.33em;
  text-align: center;
}

.ms-left__status{
  color: #4cdbba;
  font-size: 0.85em;
  text-align: center;
  background: #000000;
  border: 0px;
  margin-bottom: 0.5rem;
 
}

.ms-left__count{
  color:rgb(17, 185, 17);
  font-size: 0.85em;
  font-weight: bold;
  background: #000000;
  text-align: center;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border: 0px;
  margin-top: 0.5rem;
  

}
.second-nav_content > i:hover {
  color: #ff0000;

  font-size: 2.2rem;

  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);

  transition: 0.5s;
}
